<html>
    <head>
        <title>Where Nija Run her mouth</title>
    </head>
    <body>
        <div>
            <h1><a href="">Where Nija Run her mouth</a></h1>
        </div>

        <div>
            <p>published: 28.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Today I got my BLOG live!</p>
        </div>

        <div>
            <p>published: 28.06.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>COOL BEANS:)</p>
        </div>
    </body>
</html>
